@define-color theme_selected_bg_color black;
@define-color theme_selected_fg_color white;
@define-color theme_selected_base_color black;
@define-color theme_selected_text_color white;

* {
	font-weight:bold;
}

*:disabled {
	background-image:url("checker.png");
	color:black;
	background-color:white;
}

.background {
	color:black;
	background-color:white;
}
button {
	border:1px solid black;
	padding:2px;
}

button:hover {
	box-shadow: inset 0 0 0 3px #000000;
}

button:active, button:checked {
	background-color:black;
	color:white;
}
entry {
	border:1px solid black;
	margin-right:1px;
	padding:2px;
}
menu {
	border:1px solid black;
}
menuitem:hover {
	background-color:black;
	color:white;
}
headerbar {
	border:1px solid black;
	background-image:url("checker.png");
}
headerbar button {
	background-color:white;
}
frame.border-inset, frame.border-outset {
	border:1px solid black;
}
progressbar progress {
	background-color:black;
}
levelbar trough {
	border:1px solid black;
	padding:2px;
}
block {
	padding:2px;
}
block.filled {
	background-color:black;
}
progressbar trough {
	border:1px solid black;
}
notebook {
	border:1px solid black;
}
tab {
	border:1px solid black;
	margin:1px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:3px;
	padding-right:3px;
}
tab:hover {
	box-shadow: inset 0 0 0 2px #000000;
}
tab:checked {
	background-color:black;
	color:white;
}
switch {
	border:1px solid black;
}
switch slider {
	border:1px solid black;
	background-color:white;
}
spinner {
	opacity:0;
}
spinner:checked {
	opacity:1;
	-gtk-icon-source:none;
	background-image:url("spinner.png");
}
check, radio {
	background-image:url("box.png");
}
check:checked {
	-gtk-icon-source:none;
	background-image:url("check.png");
}
radio:indeterminate, check:indeterminate {
	-gtk-icon-source:none;
	background-image:url("indeterminate.png");
}
radio:checked {
	-gtk-icon-source:none;
	background-image:url("radio.png");
}
.rubberband, rubberband {
	border:1px solid black;
	background-color:rgba(0,0,0,0);
}
:selected, selection {
	background-color:black;
	color:white;
}
box.horizontal arrow {
	background-image:url("arrow_down.png");
	padding-right:9px;
	background-repeat:no-repeat;
	min-height:8px;
	background-position:center center;
}
scrolledwindow {
	border:1px solid black;
}
slider {
	border:1px solid black;
	background-color:white;
	padding:3px;
}
slider:hover {
	box-shadow: inset 0 0 0 1px #000000;
}
slider:disabled {
	background-image:url("checker.png");
}
slider:active {
	background-color:black;
}
scale trough {
	border:1px solid black;
	padding:1px;
}
popover {
	border:1px solid black;
	background-color:white;
}
separator {
	border-bottom:1px solid black;
}
frame {
	border:1px solid black;
}
menubar {
	border-bottom:1px solid black;
}
toolbar button {
	border:none;
}
menuitem {
	padding:3px;
}
menuitem:hover {
	background-color:black;
	color:white;
}
scale {
	background-image:url("checker.png");
}
flowbox {
	border:1px solid black;
}
separator {
	box-shadow: inset 0 0 0 1px #000000;	
	background-color:black;
}
window {
	border:1px solid black;
}
calendar {
	border:1px solid black;
}
tab button {
	border:none;
}
scrollbar button {
	border:none;
	border-left:1px solid black;
	border-right:1px solid black;
	background-image:url("checker.png");
}
scrollbar button:disabled {
	background-image:url("checker.png");
}
scrollbar.vertical trough {
	padding:1px;
	border-left:1px solid black;
	border-right:1px solid black;
	background-image:url("checker.png");
}
scrollbar.horizontal trough {
	padding:1px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	background-image:url("checker.png");
}
scrollbar slider {
	padding:5px;
	border:none;
}
scrollbar slider:hover {
	box-shadow:none;
	background-color:white;
}
toolbar {
	border:1px solid black;
}
spinner:disabled {
	background-image:none;
}

/* If you want menu separators comment this out */
menu separator {
	box-shadow:none;
	border:none;
	background-color:rgba(0,0,0,0);
}


statusbar frame {
	border:none;
}
tooltip {
	border:1px solid black;
}